* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.logo{
    width: 175px;
    padding: 65px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: whitesmoke;
}
.content h1 {
    font-size: 70px;
    font-weight: 600;
}
.content h1 span {
    color: #ff3753 ;
}
.content button{
    font-size: 18px;
    background: transparent;
    border: 2px solid whitesmoke;
    outline: 0;
    padding:  18px 32px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-top: 40px;
}   
.content button img{
    width: 15px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: 0px;
}
.rocket{
    width: 300px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }  
    100%{
        bottom: 105%;
        opacity: 1;
    }
}